body {
  background-color: #05F283; }

.header {
  background-color: #025930;
  height: 50px;
  width: 100%; }

.main {
  background-color: #05F283;
  width: 100%;
  height: 500px;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; }

.footer {
  background-color: #062620;
  width: 100%;
  height: 50px;
  width: 100%;
  margin-top: 100%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; }

#card {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; }

.mostrar_equipo {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px; }
